<div class="wrapper">
  <div class="main">
      <div class="container">
          <div class="header-margin"></div>
          <div class="row">
              <div class="col-md-12">
                  <div class="tim-title text-center">
                      <h2>Home</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <a routerLink="/account">
                      <div class="card card-button bg-light">
                          <h3 class="card-title ml-auto mr-auto mb-auto mt-auto">Check Balance</h3>
                      </div>
                  </a>
              </div>
              <div class="col-md-6 ">
                  <a routerLink="/transactionhistory">
                      <div class="card  card-button bg-light">
                          <h3 class="card-title ml-auto mr-auto mt-auto mb-auto">Generate Transaction Pdf</h3>
                      </div>
                  </a>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 ">
                  <a routerLink="/transfermoney">

                      <div class="card  card-button bg-light">
                          <h3 class="card-title ml-auto mr-auto mt-auto mb-auto">Transfer Money</h3>
                      </div>
                  </a>
              </div>
              <div class="col-md-6">
                  <a routerLink="/transferview">
                      <div class="card  card-button bg-light">
                          <h3 class="card-title ml-auto mr-auto mt-auto mb-auto">View Transactions History</h3>
                      </div>
                  </a>
              </div>
          </div>
<!--            <div class="header-margin"></div>-->
      </div>
  </div>
</div>
